<div class="container" style="text-align:center;">
  <hr style="color: antiquewhite;">
  <div class="row" style="background-color: lightsalmon;">
    <div class="col-sm-12"><h1>This will be the header</h1><!--end col-->
  </div><!--end row01-->
  </div>
  <hr style="color: antiquewhite;">
  <div class="row">
    <div class="col-sm-12"><app-alert-success></app-alert-success></div>
  </div><!--end row02-->
  <div class="row">
    <div class="col-sm-12"><app-alert-warning></app-alert-warning></div>
  </div><!--end row03-->
  <div class="row">
    <div class="col-sm-12"><app-servers></app-servers></div>
  </div><!--end row04-->
  <hr style="color: antiquewhite;">
  <div class="row">
    <div class="col-sm-12"><h1>This will be the footer</h1></div>
  </div><!--end row05-->
  <hr style="color: antiquewhite;">
</div><!--end container-->